* {
  border: 1px solid black;
}

.body {
  height: 600px;

}
.circle {
  background-color:#1382b7;
  border-radius: 50%;
  height: 200px ;
  width: 200px;
  display: inline-block;
}
.intro{
  text-align: center;
}

.startbutton{
  background-color: green;
  height: 30px;
  width: 300px;
  text-align: center;
  margin: auto;
  color: white;

}
img{
  height: 150px;
  width: 200px;
}
.container {
  display: inline-block;

}

#circle1{
  display: inline-table;


}
#circle2 {
  display: inline-table;

}

#circle3 {
  display: inline-table;

}
